[data-animation] {
  visibility: hidden;
}

@media (prefers-reduced-motion: reduce) {
  [data-animation] {
    visibility: visible;
  }
}

@mixin no-animation-on-reduced-motion {
  @media (prefers-reduced-motion: reduce) {
    animation: none;
    transition: none;
  }
}

.fade-up {
  animation-name: fade-in, move-up;
  animation-duration: 0.5s, 0.5s;
  animation-timing-function: ease-out, ease-out;
  @include no-animation-on-reduced-motion;
}

.clip-right {
  animation-name: clip-right;
  animation-duration: 0.75s;
  animation-timing-function: ease-out;
  @include no-animation-on-reduced-motion;
}

.shake {
  animation-name: shake;
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 3;
  @include no-animation-on-reduced-motion;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes move-up {
  0% {
    transform: translateY(2rem);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes clip-right {
  0% {
    clip-path: inset(0 100% 0 0);
  }

  100% {
    clip-path: inset(0 0 0 0);
  }
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(30deg);
  }

  100% {
    transform: rotate(0deg);
  }
}